<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.qna}]]</title>
    <th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/qna.css}">
</head>
<style>
</style>
<body>
    <th:block th:insert="~{inc/header.html :: index_header_menu}"></th:block>
    <th:block th:insert="~{inc/header.html :: index_header_content_basic(#{menu.qna},#{menu.qna.desc})}"></th:block>

    <div class="section services-section">
        <div class="container addAnswer-container">
            <div class="row mb-5">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="">
                    <h3 class="subheading">Q&A 답변 작성</h3>
                    <h2 class="heading">Supplement Q&A Answer</h2>
                </div>
            </div>

            <div class="answer-form" th:if="${question != null}">
                <form action="/addAnswer" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<input type="hidden" name="seq" th:value="${question.seq}">
                    <div class="qna-info">
                        <h2 class="qna-title" th:text="${question.title}"></h2> 
                        <div class="qna-meta">
                            <span class="author" th:text="${question.member.nickname}"></span>
                            <span class="date" th:text="${#dates.format(question.modDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </div>
                    </div>

                    <textarea name="answerContent" placeholder="답변을 작성해주세요..."></textarea>

                    <div class="form-actions">
                        <button type="submit">답변 작성하기</button>
                        <a onclick="window.history.back();" class="btn cancel-btn">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:insert="~{inc/footer.html :: footer}"></th:block>
    <th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>
