<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.qna}]]</title>
    <th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/qna.css}">
</head>
<style>
    
</style>
<body>
    <th:block th:insert="~{inc/header.html :: index_header_menu}"></th:block>
    <th:block th:insert="~{inc/header.html :: index_header_content_basic(#{menu.qna},#{menu.qna.desc})}"></th:block>

    <div class="section services-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="">
                    <h3 class="subheading">Q&A 답변 수정</h3>
                    <h2 class="heading">Supplement Q&A Answer 수정</h2>
                </div>
            </div>

            <div class="answer-form" th:if="${answer != null}">
				<form th:action="@{/editAnswer(qseq=${answer.question.seq})}" method="POST">
                    <div class="qna-info">
                        <h2 class="qna-title" th:text="${answer.question.title}">오메가3 효능</h2> 
                        <div class="qna-meta">
                            <span class="author" th:text="${answer.member.nickname}">작성자: 홍길동</span>
                            <span class="date" th:text="${#dates.format(answer.question.modDate, 'yyyy-MM-dd HH:mm:ss')}">작성일: 2025-02-19</span>
                        </div>
                    </div>

                    <textarea name="content" placeholder="답변을 수정해주세요..."  th:text="${answer.content}">수정 예시 입니다.</textarea>
					<input type="hidden" name="seq" th:value="${answer.seq}" />
					<input type="hidden" name="questionSeq" th:value="${answer.question.seq}" />

                    <div class="form-actions">
                        <button type="submit">수정하기</button>
						<a th:href="@{/viewQna(seq=${answer.question.seq})}" class="btn cancel-btn">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:insert="~{inc/footer.html :: footer}"></th:block>
    <th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>
