<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>[[#{menu.map}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/map.css}">
	<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=1669ac115ebaa35601888df2a635eb83&libraries=services"></script>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: index_header}"></th:block>
	<div class="map-container">
		<div class="section services-section">
			<div class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
				<h3 class="subheading">Pharmacy Map</h3>
				<h2 class="map-heading heading">
					<img src="img/map/mapIcon.svg" class="map-icon">
					약국 찾기
				</h2>
				
				<div class="map-box">
					<div class="map-search-box">
						<div class="map-search">
							<div class="sido-gugun">
								<select name="sido1" id="sido1"></select>
								<select name="gugun1" id="gugun1"></select>
							</div>
							<div id="menu_wrap" class="bg_white">
								<div class="option">
									<div class="address-search">
										<form onsubmit="searchPlaces(); return false;">
											<input type="text" id="keyword" placeholder="검색어를 입력하세요." class="search-input">
										</form>
									</div>
								</div>
								<div class="scroll-container">
					                <ul id="placesList"></ul>
					                <div id="pagination"></div> <!-- 페이징 바 -->
					            </div>
				            </div>
						</div>
					</div>
					<div id="map">
						<div class="detail-popup">
							<div class="map-detail-title">
								<h2>약국 상세</h2>
								<button class="close-popup"></button>
							</div>
							<hr>
							<div class="pharmacy-detail-info">
								<h2>굿 약국</h2>	
								<div class="map-info">
									<div class="pharmacy-time"><span>⦁&nbsp;&nbsp;&nbsp;</span><span>영업중&nbsp;&nbsp;&nbsp;</span>(09:30 ~ 21:30)</div>		
									<div>서울 서초구 서초대로77길 24 강남지웰타워2 1층 103호</div>
									<div><span>전화번호 </span>02-535-0022</div>				
								</div>
								<div class="week-time">
									<table>
										<h3>평일 운영시간</h3>
										<tr>
											<th>평일</th>
											<td>09:30 ~ 21:30</td>								
										</tr>
									</table>
									<table>
										<h3>토요일 운영시간</h3>
										<tr>
											<th>매주</th>
											<td>09:30 ~ 21:30</td>								
										</tr>
									</table>
									<table>
										<h3>일요일 운영시간</h3>
										<tr>
											<th>일요일</th>
											<td>09:30 ~ 21:30</td>								
										</tr>
									</table>
									<div class="phar-otherInfo">
										<h3>공휴일 운영시간</h3>
										<div id="holiday-time">정기휴무</div>
										<h3>비고</h3>
										<div id="other-time">매달 1, 3번째 일요일 휴무</div>
									</div>
								</div>
							</div>
				        </div> <!-- detail info -->
						<div class="map-gps">
							<input type="image" src="/img/map/move-address.svg">
							<input type="image" src="/img/map/gps.svg">
						</div>
					</div> 
				</div>
			</div>		
		</div>		 
	</div>
	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>

</body>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>	
	
		/*
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };
        var map = new kakao.maps.Map(container, options);
		*/
		
		document.querySelector('#placesList').addEventListener('click', (event) => {
		    const item = event.target.closest('li'); 
		    if (item) {
		        const popup = document.querySelector('.detail-popup');
		        popup.style.display = 'block'; 
		    }
		});


		document.querySelector('.close-popup').addEventListener('click', () => {
		    const popup = document.querySelector('.detail-popup');
		    popup.style.display = 'none'; 
		});

		
		$('document').ready(function() {
			var area0 = ["시/도 선택","서울특별시","인천광역시","대전광역시","광주광역시","대구광역시","울산광역시","부산광역시","경기도","강원도","충청북도","충청남도","전라북도","전라남도","경상북도","경상남도","제주도"];
			var area1 = ["강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구","노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구","성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"];
			var area2 = ["계양구","남구","남동구","동구","부평구","서구","연수구","중구","강화군","옹진군"];
			var area3 = ["대덕구","동구","서구","유성구","중구"];
			var area4 = ["광산구","남구","동구",     "북구","서구"];
			var area5 = ["남구","달서구","동구","북구","서구","수성구","중구","달성군"];
			var area6 = ["남구","동구","북구","중구","울주군"];
			var area7 = ["강서구","금정구","남구","동구","동래구","부산진구","북구","사상구","사하구","서구","수영구","연제구","영도구","중구","해운대구","기장군"];
			var area8 = ["고양시","과천시","광명시","광주시","구리시","군포시","김포시","남양주시","동두천시","부천시","성남시","수원시","시흥시","안산시","안성시","안양시","양주시","오산시","용인시","의왕시","의정부시","이천시","파주시","평택시","포천시","하남시","화성시","가평군","양평군","여주군","연천군"];
			var area9 = ["강릉시","동해시","삼척시","속초시","원주시","춘천시","태백시","고성군","양구군","양양군","영월군","인제군","정선군","철원군","평창군","홍천군","화천군","횡성군"];
			var area10 = ["제천시","청주시","충주시","괴산군","단양군","보은군","영동군","옥천군","음성군","증평군","진천군","청원군"];
			var area11 = ["계룡시","공주시","논산시","보령시","서산시","아산시","천안시","금산군","당진군","부여군","서천군","연기군","예산군","청양군","태안군","홍성군"];
			var area12 = ["군산시","김제시","남원시","익산시","전주시","정읍시","고창군","무주군","부안군","순창군","완주군","임실군","장수군","진안군"];
			var area13 = ["광양시","나주시","목포시","순천시","여수시","강진군","고흥군","곡성군","구례군","담양군","무안군","보성군","신안군","영광군","영암군","완도군","장성군","장흥군","진도군","함평군","해남군","화순군"];
			var area14 = ["경산시","경주시","구미시","김천시","문경시","상주시","안동시","영주시","영천시","포항시","고령군","군위군","봉화군","성주군","영덕군","영양군","예천군","울릉군","울진군","의성군","청도군","청송군","칠곡군"];
			var area15 = ["거제시","김해시","마산시","밀양시","사천시","양산시","진주시","진해시","창원시","통영시","거창군","고성군","남해군","산청군","의령군","창녕군","하동군","함안군","함양군","합천군"];
			var area16 = ["서귀포시","제주시","남제주군","북제주군"];

			// 시/도 선택 박스 초기화
			$("select[name^=sido]").each(function() {
				$selsido = $(this);
				$.each(eval(area0), function() {
					$selsido.append("<option value='"+this+"'>"+this+"</option>");
				});
				$selsido.next().append("<option value=''>구/군 선택</option>");
			});
			
			 // 시/도 선택시 구/군 설정
			$("select[name^=sido]").change(function() {
				
				var area = "area"+$("option",$(this)).index($("option:selected",$(this))); // 선택지역의 구군 Array
				var $gugun = $(this).next(); // 선택영역 군구 객체
				$("option",$gugun).remove(); // 구군 초기화
		
				if(area == "area0")  $gugun.append("<option value=''>구/군 선택</option>");
				else {
					$.each(eval(area), function() {
						$gugun.append("<option value='"+this+"'>"+this+"</option>");
					});
				}
			});
		}); 

		var markers = [];

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};  

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 

		// 장소 검색 객체를 생성합니다
		var ps = new kakao.maps.services.Places();  

		// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});

		// 키워드로 장소를 검색합니다
		searchPlaces();

		// 키워드 검색을 요청하는 함수입니다
		function searchPlaces() {
		 
			var keyword = document.getElementById('keyword').value.trim();

			if (!keyword.replace(/^\s+|\s+$/g, '')) {
				//alert('키워드를 입력해주세요!');
				return false;
			}

			// 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
			ps.keywordSearch( keyword, placesSearchCB); 
		}
 
		function placesSearchCB(data, status, pagination) {
			if (status === kakao.maps.services.Status.OK) {
				var totalPages = Math.ceil(data.length / 8); // 총 페이지 수 계산
				displayPlaces(data.slice(0, 8)); // 첫 페이지 데이터만 표시
				displayPagination(totalPages, 1, data); // 첫 페이지로 페이징 설정
			} else if (status === kakao.maps.services.Status.ZERO_RESULT) {
				alert('검색 결과가 존재하지 않습니다.');
			} else if (status === kakao.maps.services.Status.ERROR) {
				alert('검색 결과 중 오류가 발생했습니다.');
			}
		}
 
		// 검색 결과 목록과 마커를 표출하는 함수입니다
		function displayPlaces(places) {
			var listEl = document.getElementById('placesList'),
				menuEl = document.getElementById('menu_wrap'),
				fragment = document.createDocumentFragment(),
				bounds = new kakao.maps.LatLngBounds(),
				listStr = '';

			// 검색 결과 목록에 추가된 항목들을 제거합니다
			removeAllChildNods(listEl);

			// 지도에 표시되고 있는 마커를 제거합니다
			removeMarker();

			// 현재 페이지와 페이지당 표시할 개수 설정
			var currentPage = 1;
			var itemsPerPage = 8;
			var totalPages = Math.ceil(places.length / itemsPerPage);

			// 현재 페이지의 시작 인덱스와 종료 인덱스 계산
			var startIdx = (currentPage - 1) * itemsPerPage;
			var endIdx = startIdx + itemsPerPage;

			// 페이지 데이터 가져오기
			var currentPlaces = places.slice(startIdx, endIdx);

			for (var i = 0; i < currentPlaces.length; i++) {
				// 마커를 생성하고 지도에 표시합니다
				var placePosition = new kakao.maps.LatLng(currentPlaces[i].y, currentPlaces[i].x),
					marker = addMarker(placePosition, i),
					itemEl = getListItem(i, currentPlaces[i]); // 검색 결과 항목 Element를 생성합니다

				// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기 위해
				// LatLngBounds 객체에 좌표를 추가합니다
				bounds.extend(placePosition);

				// 마커와 검색결과 항목에 mouseover 했을 때
				// 해당 장소에 인포윈도우에 장소명을 표시합니다
				(function (marker, title) {
					kakao.maps.event.addListener(marker, 'mouseover', function () {
						displayInfowindow(marker, title);
					});

					kakao.maps.event.addListener(marker, 'mouseout', function () {
						infowindow.close();
					});

					itemEl.onmouseover = function () {
						displayInfowindow(marker, title);
					};

					itemEl.onmouseout = function () {
						infowindow.close();
					};
				})(marker, currentPlaces[i].place_name);

				fragment.appendChild(itemEl);
			}

			// 검색결과 항목들을 검색결과 목록 Element에 추가합니다
			listEl.appendChild(fragment);
			menuEl.scrollTop = 0;

			// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
			map.setBounds(bounds);

			// 페이지 번호를 생성합니다
			displayPagination(totalPages, currentPage, places);
		}

		// 검색결과 항목을 Element로 반환하는 함수입니다
		function getListItem(index, places) {

			var el = document.createElement('li'),
			itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
						'<div class="info">' +
						'   <h5>' + places.place_name + '</h5>';

			if (places.road_address_name) {
				itemStr += '    <span>' + places.road_address_name + '</span>' +
							'   <span class="jibun gray">' +  places.address_name  + '</span>' +
							'<div class="map-info">' + 
							'<div class="pharmacy-time"><span>⦁&nbsp;&nbsp;&nbsp;</span><span>영업중&nbsp;&nbsp;&nbsp;</span>(09:30 ~ 21:30)</div>	' +	
							'</div>';
			} else {
				itemStr += '    <span>' +  places.address_name  + '</span>'; 
			}
						
			itemStr += '  <span class="tel">' + places.phone  + '</span>' +
						'</div> ' + 
						'<a class="more d-flex align-items-center float-start map-info-button">' +
						'<span class="label">상세 보기</span>' +
						'<span class="icon-keyboard_arrow_right"></span>' +
						'</a>';           

			el.innerHTML = itemStr;
			el.className = 'item';

			return el;
		}

		// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
		function addMarker(position, idx, title) {
			var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
				imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
				imgOptions =  {
					spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
					spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
					offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
				},
				markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
					marker = new kakao.maps.Marker({
					position: position, // 마커의 위치
					image: markerImage 
				});

			marker.setMap(map); // 지도 위에 마커를 표출합니다
			markers.push(marker);  // 배열에 생성된 마커를 추가합니다

			return marker;
		}

		// 지도 위에 표시되고 있는 마커를 모두 제거합니다
		function removeMarker() {
			for ( var i = 0; i < markers.length; i++ ) {
				markers[i].setMap(null);
			}   
			markers = [];
		} 

		function displayPagination(totalPages, currentPage, places) {
		    var paginationEl = document.getElementById('pagination'),
		        fragment = document.createDocumentFragment();

		    while (paginationEl.hasChildNodes()) {
		        paginationEl.removeChild(paginationEl.lastChild);
		    }

		    for (var i = 1; i <= totalPages; i++) {
		        var el = document.createElement('a');
		        el.href = "#";
		        el.innerHTML = i;

		        if (i === currentPage) {
		            el.className = 'on'; // 현재 페이지 강조
		        }

		        el.onclick = (function (i) {
		            return function (event) {
		                event.preventDefault(); // 기본 동작 방지 (새로고침 막기)
		                updatePage(i, places, totalPages); // 페이지 업데이트
		            };
		        })(i);

		        fragment.appendChild(el);
		    }

		    paginationEl.appendChild(fragment);
		}



		// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
		// 인포윈도우에 장소명을 표시합니다
		function displayInfowindow(marker, title) {
			var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

			infowindow.setContent(content);
			infowindow.open(map, marker);
		}

		// 검색결과 목록의 자식 Element를 제거하는 함수입니다
		function removeAllChildNods(el) {   
			while (el.hasChildNodes()) {
				el.removeChild (el.lastChild);
			}
		}

		// 페이지를 업데이트하는 함수
		function updatePage(page, places, totalPages) {
		    var listEl = document.getElementById('placesList'),
		        fragment = document.createDocumentFragment(),
		        bounds = new kakao.maps.LatLngBounds();

		    // 페이지당 표시할 개수 설정
		    var itemsPerPage = 8;
		    var startIdx = (page - 1) * itemsPerPage;
		    var endIdx = startIdx + itemsPerPage;

		    // 현재 페이지 데이터 가져오기
		    var currentPlaces = places.slice(startIdx, endIdx);

		    // 기존 목록 제거
		    removeAllChildNods(listEl);

		    // 마커 제거
		    removeMarker();

		    for (var i = 0; i < currentPlaces.length; i++) {
		        var placePosition = new kakao.maps.LatLng(currentPlaces[i].y, currentPlaces[i].x),
		            marker = addMarker(placePosition, i),
		            itemEl = getListItem(i, currentPlaces[i]);

		        bounds.extend(placePosition);

		        (function (marker, title) {
		            kakao.maps.event.addListener(marker, 'mouseover', function () {
		                displayInfowindow(marker, title);
		            });

		            kakao.maps.event.addListener(marker, 'mouseout', function () {
		                infowindow.close();
		            });

		            itemEl.onmouseover = function () {
		                displayInfowindow(marker, title);
		            };

		            itemEl.onmouseout = function () {
		                infowindow.close();
		            };
		        })(marker, currentPlaces[i].place_name);

		        fragment.appendChild(itemEl);
		    }

		    listEl.appendChild(fragment);
		    map.setBounds(bounds);

		    // 검색 목록의 스크롤 위치를 최상단으로 초기화
		    listEl.scrollTop = 0;

		    // 스크롤이 맨 밑에 도달하지 않은 상태로 초기화
		    document.getElementById('pagination').style.display = 'none';

		    // 페이지 번호 갱신
		    displayPagination(totalPages, page, places);
		}

		
		document.getElementById('placesList').addEventListener('scroll', function () {
		    var listEl = this; // 현재 스크롤 이벤트가 발생한 엘리먼트
		    var paginationEl = document.getElementById('pagination');

		    // 스크롤이 맨 밑에 도달했는지 확인
		    if (listEl.scrollTop + listEl.clientHeight >= listEl.scrollHeight) {
		        paginationEl.style.display = 'flex'; // 페이징 바 보이기
		    } else {
		        paginationEl.style.display = 'none'; // 페이징 바 숨기기
		    }
		});

	</script>
</html>
