<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>[[#{menu.news}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: index_header}"></th:block>
	<div id="news-container">
		<div class="section">
			<div class="container">
	
				<div class="row mb-5">
					<div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
						<span class="subheading mb-3">Blog</span>
						<h2 class="heading">Recent Posts</h2>
					</div>
				</div>
				<div class="row align-items-stretch">
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
						<div class="media-entry">
							<a href="single.html" class="thumb">
								<img src="images/gal_1.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2020</span>
								<h3><a href="single.html">Far far away, behind the word mountains</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
	
								<a href="single.html" class="more d-flex align-items-center float-start">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
						<div class="media-entry">
							<a href="single.html" class="thumb">
								<img src="images/gal_2.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2020</span>
								<h3><a href="single.html">Far far away, behind the word mountains</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
	
								<a href="single.html" class="more d-flex align-items-center float-start">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
						<div class="media-entry">
							<a href="single.html" class="thumb">
								<img src="images/gal_3.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2020</span>
								<h3><a href="single.html">Far far away, behind the word mountains</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
								<a href="single.html" class="more d-flex align-items-center float-start">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
						<div class="media-entry">
							<a href="single.html" class="thumb">
								<img src="images/gal_4.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2020</span>
								<h3><a href="single.html">Far far away, behind the word mountains</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
								<a href="single.html" class="more d-flex align-items-center float-start">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
				</div>	
			</div>		
		</div>
	</div>
	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>