<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>[[#{menu.news}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
</head>
<body>
	<th:block th:insert="~{inc/header.html :: index_header}"></th:block>
	<div id="news-container">
		<div class="section">
			<div class="container">
	
				<div class="row mb-5">
					<div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
						<span class="subheading mb-3">[[#{menu.news}]]</span>
						<h2 class="heading">Popular News</h2>
					</div>
				</div>
				<div class="row align-items-stretch">
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
						<div class="media-entry">
							<a href="https://www.dailian.co.kr/news/view/1430539/?sc=Naver" class="thumb" target="_blank">
								<img th:src="@{img/news/news_1.jpeg}" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2024</span>
								<h3><a href="https://www.dailian.co.kr/news/view/1430539/?sc=Naver" target="_blank">[오늘 날씨] '체감온도 0도↓' 겨울 성큼…찬바람 불 때 먹어야 하는 영양제</a></h3>
								<p>겨울철에는 급격한 기온 변화로 인해 심혈관 질환이 발생할 수 있는데, 오메가 3는 심혈관 건강에 도움을 주는 영양제다. 심혈관 건강뿐만 아니라 안구 건조, 뇌 건강, 인지 기능 개선에도 도움을 준다. 겨울철에는 체내 수</p>
	
								<a href="https://www.dailian.co.kr/news/view/1430539/?sc=Naver" class="more d-flex align-items-center float-start" target="_blank">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
						<div class="media-entry">
							<a href="https://www.news1.kr/industry/general-industry/5604132" class="thumb" target="_blank">
								<img th:src="@{img/news/news_2.avif}" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2024</span>
								<h3><a href="https://www.news1.kr/industry/general-industry/5604132" target="_blank">"반려동물 영양제 유효성분 확인…오메가3, 심장 건강에 도움"</a></h3>
								<p>정 원장은 "심장 영양제를 고를 때는 항산화영양소 등 유효성분이 있는지 보고, 항염작용이 있는 오메가3 성분이 든 영양제를 보충해 건강 관리를 해주는 것이 좋다"고 말했다. 이어 "항산화영양소의 경우 1~2개의 성분만 든 것보다는 여러 성분이 충분하게 들어있는 제품을 선택하길 바란다"고</p>
	
								<a href="https://www.news1.kr/industry/general-industry/5604132" class="more d-flex align-items-center float-start" target="_blank">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
						<div class="media-entry">
							<a href="https://news.hidoc.co.kr/news/articleView.html?idxno=40164" class="thumb" target="_blank">
								<img src="images/gal_3.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2024</span>
								<h3><a href="https://news.hidoc.co.kr/news/articleView.html?idxno=40164" target="_blank">현대인의 눈 건강을 위한 영양제 5가지</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
								<a href="https://news.hidoc.co.kr/news/articleView.html?idxno=40164" class="more d-flex align-items-center float-start" target="_blank">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
						<div class="media-entry">
							<a href="single.html" class="thumb">
								<img src="images/gal_4.jpg" alt="Image" class="img-fluid">
							</a>
							<div class="bg-white m-body">
								<span class="date">May 14, 2020</span>
								<h3><a href="single.html" target="_blank">Far far away, behind the word mountains</a></h3>
								<p>Vokalia and Consonantia, there live the blind texts. Separated they live.</p>
								<a href="single.html" class="more d-flex align-items-center float-start">
									<span class="label">Read More</span>
									<span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
								</a>
							</div>
						</div>
					</div>
				</div>	
			</div>		
		</div>
	</div>
	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>