<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[#{menu.qna}]]</title>
    <th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/qna.css}">
</head>

<style>
</style>
<body>
	<!-- TODO: CSS 코드 분리 -->
    <th:block th:insert="~{inc/header.html :: index_header_menu}"></th:block>
    <th:block th:insert="~{inc/header.html :: index_header_content_basic(#{menu.qna},#{menu.qna.desc})}"></th:block>
	<div class="section services-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-5" data-aos="fade-up" data-aos-delay="">
					<h3 class="subheading">Q&A 목록</h3>
                    <h2 class="heading">Supplement Q&A</h2> 
				</div>
			</div> 

			<!-- 검색 박스 -->
			<div class="row mb-5">
			    <div class="qna-search">
			        <form class="search-box" method="GET" action="/qna">
			            <input type="text" name="keyword" placeholder="검색어를 입력하세요" required>
			            <button type="submit">검색하기</button>
			        </form>
			    </div>
			</div>
			
            <!-- Q&A 목록 테이블 -->
            <table class="qna-list">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>해결 여부</th>
                    </tr>
                </thead>
                <tbody th:if="${list != null}"> 
                    <tr th:each="dto : ${list}">
						<td th:text="${dto.seq}"></td>
						<td class="qna-item">
							<a th:href="'/viewQna?seq=' + ${dto.seq}" th:text="${dto.title}" >영양제 복용 시 주의사항</a>
						</td>
						<td th:text="${dto.member.nickname}"></td> 
						<td th:text="${#dates.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td>
							<img th:src="@{'/img/qna/' + (${dto.isSolved} ? 'solved' : 'unsolved') + '.png'}" class="status-image" />
					 	</td>
                    </tr>
                </tbody>
            </table>

            <!-- 작성하기 버튼 -->
            <div class="create-qna">
                <a href="/addQuestionView" class="write-btn">작성하기</a>
            </div>

            <!-- 페이지네이션 -->
            <div class="pagination">
                <a href="#" th:each="page : ${pagination}" th:href="@{/qna?page={page}}" th:text="${page}">1</a>
                <a href="#" th:each="page : ${pagination}" th:href="@{/qna?page={page}}" th:text="${page}">2</a>
                <a href="#" th:each="page : ${pagination}" th:href="@{/qna?page={page}}" th:text="${page}">3</a>
            </div>

        </div>
    </div>

    <th:block th:insert="~{inc/footer.html :: footer}"></th:block>
    <th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
</script>

</html>
