<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>[[#{menu.map}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
</head>
<style>
 
</style>
<body>
	<th:block th:insert="~{inc/header.html :: index_header}"></th:block>
	<div id="map-container">
		<div class="section services-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
						<h3 class="subheading">Services</h3>
						<h2 class="heading">Specialized laboratory tests tailored to the patient</h2>
					</div>		
				</div>	
	
				<div class="row g-5">
					<div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
	
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-1 mb-3">
									<i class="flaticon-bacteria-1"></i>
								</span>
							</div>
							<div>
								<h3>Infectious Bacteria</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
						
					</div>
					<div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-2 mb-3">
									<i class="flaticon-lungs"></i>
								</span>
							</div>
							<div>
								<h3>Lung Infection</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-3 mb-3">
									<i class="flaticon-bacteria"></i>
								</span>
							</div>
							<div>
								<h3>Viruses</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
					</div>
	
					<div class="col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="">
	
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-4 mb-3">
									<i class="flaticon-test-tubes"></i>
								</span>
							</div>
							<div>
								<h3>Laboratory</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
						
					</div>
					<div class="col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="100">
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-5 mb-3">
									<i class="flaticon-vaccine"></i>
								</span>
							</div>
							<div>
								<h3>Vaccination</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 aos-init" data-aos="fade-up" data-aos-delay="200">
						<div class="feature-1 d-block">
							<div class="mb-3">
								<span class="hex color-6 mb-3">
									<i class="flaticon-mask"></i>
								</span>
							</div>
							<div>
								<h3>Face Mask</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, error numquam culpa placeat pariatur fuga illo veniam doloremque ea optio beatae velit</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>		
	</div>
	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>