<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>[[#{menu.signup}]]</title>
    <th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/signup.css}">
</head>
<body>
    <th:block th:insert="~{inc/header.html :: index_header_menu}"></th:block>
   	<th:block th:insert="~{inc/header.html :: index_header_content_basic(#{menu.signup},#{menu.signup.desc})}"></th:block>
    <div class="font-size-40 font-koho font-bold align-center">VitaMatch</div>
    <div class="font-size-20 font-koho align-center">회원가입 하시고 저희 웹사이트의 다양한 혜택을 누리세요!</div>
    <form method="POST" action="/signupok" id="signupForm">
        <div class="login-form-box">
            <table class="stretch">
				<!-- ID -->
				<tr class="flex-row">
				    <td class="id-group">
				        <!-- <div class="id-container"> -->
				            <input id="id" type="text" name="id" placeholder=" " class="signup" required />
				            <label for="id">아이디</label>	
				            <button type="button" id="checkId" class="check-id-button">중복 확인</button>
				        <!-- </div> -->
				    </td>
				</tr>
                <!-- Password -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="password" type="password" name="password" placeholder=" " class="signup" required />
                        <label for="password">비밀번호</label>
                        <span id="passwordValidity" class="error-message"></span>
                    </td>
                </tr>
                <!-- Password Check -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="passwordCheck" type="password" name="passwordCheck" placeholder=" " class="signup" required />
                        <label for="passwordCheck">비밀번호 확인</label>
                        <span id="passwordMatch" class="error-message"></span>
                    </td>
                </tr>
                <!-- Email -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="email" type="email" name="email" placeholder=" " class="signup" required />
                        <label for="email">이메일</label>
                    </td>
                </tr>
                <!-- Name -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="name" type="text" name="name" placeholder=" " class="signup" required />
                        <label for="name">이름</label>
                    </td>
                </tr>
                <!-- Nickname -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="nickname" type="text" name="nickname" placeholder=" " class="signup" required />
                        <label for="nickname">닉네임</label>
                    </td>
                </tr>
                <!-- Date of Birth and Gender -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="birthday" type="date" name="birthday" placeholder=" " class="signup" required />
                        <label for="birthday">생년월일</label>
                    </td>
				    <td class="form-group">
				        <select id="gender" name="gender" class="signup" required>
				            <option value="">성별</option>
				            <option value="male">남성</option>
				            <option value="female">여성</option>
				        </select>
				        <label for="gender">성별</label>
				    </td>
                </tr>
                <!-- Telephone -->
				<tr class="phone-group flex-row">
				    <td>
				        <select id="phone1" name="phone1" class="signup" required>
				            <option value="010">010</option>
				            <option value="011">011</option>
				            <option value="017">017</option>
				        </select>
				    </td>
				    <td class="phone-separator">-</td>
				    <td>
				        <input id="phone2" type="text" name="phone2" maxlength="4" class="signup phone-input" required />
				    </td>
				    <td class="phone-separator">-</td>
				    <td>
				        <input id="phone3" type="text" name="phone3" maxlength="4" class="signup phone-input" required />
				    </td>
				</tr>
                <!-- Address -->
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="address" type="text" name="address" placeholder=" " class="signup" required />
                        <label for="address">주소</label>
                        <button type="button" id="addressSearch" class="search-button">🔍</button>
                    </td>
                    <td class="form-group">
                        <input id="zipcode" type="text" name="zipcode" placeholder=" " class="signup" required />
                        <label for="zipcode">우편번호</label>
                    </td>
                </tr>
                <tr class="flex-row">
                    <td class="form-group">
                        <input id="addressDetail" type="text" name="addressDetail" placeholder=" " class="signup" required />
                        <label for="addressDetail">상세주소</label>
                    </td>
                </tr>
            </table>
            <div>
                <button type="submit" class="login-button">가입하기</button>
            </div>
        </div>
    </form>
    <th:block th:insert="~{inc/footer.html :: footer}"></th:block>
    <th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>
