<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<title>[[#{title}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/main.css}">
	<link rel="stylesheet" th:href="@{css/signup.css}">
</head>
<body>
	<th:block th:insert="~{inc/header.html :: index_header}"></th:block>
	<h2>회원가입 페이지</h2>
	<div class="empty-div"></div>
	<div class="empty-div"></div>
    <div class="font-size-40 font-koho font-bold align-center">VitaMatch</div>
    <div class="font-size-20 font-koho align-center">회원가입 하시고 저희 웹사이트의 다양한 혜택을 누리세요!</div>

			
    <form method="POST" action="/signupok">
    <div class="login-form-box">
    <table class="stretch">
            <tr>
                <td class="form-group">
                    <input id="username" type="text" name="username" placeholder=" " class="signup" required/>
                    <label for="username">email</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="password" type="password" name="passowrd" placeholder=" " class="signup" required/>
                    <label for="password">password</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="passwordcheck" type="password" name="passwordcheck" placeholder=" " class="signup" required/>
                    <label for="passwordcheck">password check</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="name" type="text" name="name" placeholder=" " class="signup" required/>
                    <label for="name">name</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="nickname" type="text" name="nickname" placeholder=" " class="signup" required/>
                    <label for="nickname">nickname</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="birthday" type="date" name="birthday" placeholder=" " class="signup" required/>
                    <label for="birthday">birthday</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="gender" type="" name="gender" placeholder=" " class="signup" required/>
                    <label for="gender">gender</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="test" type="text" name="test" placeholder=" " class="signup" required/>
                    <label for="test">test</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="telephone1" type="text" name="telephone1" placeholder=" " class="signup" required/>
                    <label for="telephone1">telephone1</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="telephone2" type="text" name="telephone2" placeholder=" " class="signup" required/>
                    <label for="telephone2">telephone2</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="telephone3" type="text" name="telephone3" placeholder=" " class="signup" required/>
                    <label for="telephone3">telephone3</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="address" type="text" name="address" placeholder=" " class="signup" required/>
                    <label for="address">address</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="postalCode" type="text" name="postalCode" placeholder=" " class="signup" required/>
                    <label for="postalCode">postal code</label>
                </td>
            </tr>
            <tr>
                <td class="form-group">
                    <input id="addressDetail" type="text" name="addressDetail" placeholder=" " class="signup" required/>
                    <label for="addressDetail">detailed address</label>
                </td>
            </tr>
    </table>

        <div><button class="login-button color-project text-color-white border-none border-round">sign up</button></div>
		<!--<div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></div>-->
    </div>
    </form>
		<div class="wrapper">
			<div class="flex">
                <a href="/findpassword">forgot passsword?</a>
                <a href="/signup">sign up</a>			
            </div>
		</div>
            <div class="empty-div"></div>
            <div class="empty-div"></div>

	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>