<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <th:block th:fragment="templates_css">
		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;family=Roboto:wght@500;700&amp;display=swap" rel="stylesheet">

		<!-- Icon Font Stylesheet -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

		<!-- Libraries Stylesheet -->
		<link th:href="@{/template/css/owl.carousel.min.css}" rel="stylesheet">
		<link th:href="@{/template/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet">

		<!-- Customized Bootstrap Stylesheet -->
		<link th:href="@{/template/css/bootstrap.min.css}" rel="stylesheet">

		<!-- Template Stylesheet -->
		<link th:href="@{/template/css/style.css}" rel="stylesheet">
    </th:block>
</head>
<body>
    <th:block th:fragment="templates_js">
    	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    	<script th:src="@{/template/js/chart.min.js}"></script>
    	<script th:src="@{/template/js/easing.min.js}"></script>
    	<script th:src="@{/template/js/waypoints.min.js}"></script>
    	<script th:src="@{/template/js/owl.carousel.min.js}"></script>
    	<script th:src="@{/template/js/moment.min.js}"></script>
    	<script th:src="@{/template/js/moment-timezone.min.js}"></script>
    	<script th:src="@{/template/js/tempusdominus-bootstrap-4.min.js}"></script>
    	
    	<script th:src="@{/template/js/main.js}"></script>
    	
    </th:block>
</body>
</html>