<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <title>Insert title here</title>
    </head>
    <body>
        <div th:fragment="sidebar" class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">[[#{title}]]</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link">
                        <i class="fa fa-th me-2"></i>
                        Home
                    </a>

                    <a href="/notice" class="nav-link nav-link">
                        <i class="fa fa-laptop me-2"></i>
                        Notice
                    </a>
                    <a href="/nutri" class="nav-item nav-link">
                        <i class="fa fa-tachometer-alt me-2"></i>
                        Nutri
                    </a>
                    <a href="/review" class="nav-item nav-link">
                        <i class="fa fa-table me-2"></i>
                        Review
                    </a>
                    <!-- 	
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="button.html" class="dropdown-item">Buttons</a> <a
								href="typography.html" class="dropdown-item">Typography</a> <a
								href="element.html" class="dropdown-item">Other Elements</a>
						</div>
					</div>
					
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
						<div class="dropdown-menu bg-transparent border-0">
							<a href="signin.html" class="dropdown-item">Sign In</a> <a
								href="signup.html" class="dropdown-item">Sign Up</a> <a
								href="404.html" class="dropdown-item">404 Error</a> <a
								href="blank.html" class="dropdown-item">Blank Page</a>
						</div>
					</div>
					<a href="chart.html" class="nav-item nav-link"><i
						class="fa fa-chart-bar me-2"></i>Charts</a>
						
					<a href="form.html" class="nav-item nav-link"><i
						class="fa fa-keyboard me-2"></i>Forms</a>
				 -->
                </div>
            </nav>
        </div>
    </body>
</html>
