	
html, body {
    overflow-x: hidden; 
}

.ingredientContentview {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.ingredientContenttable {
/*	display: flex;
	justify-content: center;
	align-items: center;	*/	
	position: relative;
	width: 100%;
}

.ingredientContenttable th, .ingredientContenttable td { 
    padding: 15px;
    border: 1px solid #10D0A1;
}

.ingredientContenttable th {
    width: 200px;  
    font-size: 16px;
    text-align: center;
	background-color:#10D0A1;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.ingredientContenttable td {
    width: 1000px; 
    font-size: 14px; 
	padding-left: 20px; 
	border-top: 1px solid #10D0A1;
	border-bottom: 1px solid #10D0A1;
}

.ingredientContentString{
	text-align:left
}

.ingredientContentRowHeader {
    
	color: #10D0A1;
}

.ingredientContentImg{
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}



.ingredientContentIngredient {
	margin-left:30px;
	
}

.ingredientContentImgSize{
	width:400px;
	height:400px;

}


.ingredientInfoImg{
	display: flex;
	position: relative;
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
}



.ingredientInfoIngredient {
	margin-left:30px;
	
}

.ingredientImgSize{
	margin-left: 50px;
	width:125px;
	height:125px;

}

.ingredientImgtableContent{
	margin-left: 100px;
	text-align: left;
	font-size: 50px;
	
}

.ingredientImgtableContentheader{
	color: #10D0A1;
	font-size: 35px;
}

.ingredientImgtableContentName{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	color: gray;
	
}

.ingredientImgtableContentCompany{
	font-size: 30px;
	color: gray;

}

.heading{
	color: #10D0A1;
}